@model IEnumerable<Laba1.Groups>

@{
    ViewData["Title"] = "Groups";
}

    <h1>Groups</h1>

<p>
    <a asp-action="Create">Add New Group</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GrName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GrCreation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GrName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrCreation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GrId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GrId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GrId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
