@model IEnumerable<Laba1.Albums>

@{
    ViewData["Title"] = "Albums";
}

    <h1>Albums</h1>

<p>
    <a asp-action="Create">Add New Album</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ACreation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ACreation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
